.Notifications {
    border: 4px dotted rgb(216, 61, 61);
    padding: 10x;
    font-size: large;
    font-weight: 450;
}

li[data-priority="default"] {
    color: blue;
}
li[data-priority="urgent"] {
    color: red;
}